/*MAIN*/

.boton {
  text-decoration: none;
  color: #1a1a1b;
  background-color: #ffda00;
  padding: 15px 30px;
  border-radius: 20px;
  font-size: 1.1em;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.boton:hover {
  background-color: #333;
  color: #f5f5f5;
}

.banner {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../imagenes/exp33.jpg");
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.banner h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.banner p {
  font-size: 18px;
  margin-bottom: 25px;
}

.banner button {
  background-color: #ffda00; /* Amarillo Eneba */
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

/* --- SECCIÓN CATEGORÍAS*/
.categorias {
  padding: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

.lista-categorias {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.enlace-cat {
  text-decoration: none;
  color: white;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
}

.enlace-cat:hover {
  background-color: #ffda00;
  color: black;
}
