/* Configuración General */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: #1a1a1b;
  padding: 12px 30px;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

header a {
  text-decoration: none;
}

/* Logo Amarillo */
h2 {
  color: #ffda00;
  font-size: 1.4rem;
  font-weight: 800;
  margin-left: 10px;
}

/* Buscador Estilo Eneba */
.buscador {
  display: flex;
  flex-grow: 1;
  max-width: 650px;
  margin: 0 40px;
}

.buscador input {
  width: 100%;
  padding: 10px 16px;
  border: none;
  border-radius: 4px 0 0 4px; /* Un poco más cuadrado como la imagen */
  background-color: #272728;
  color: white;
  outline: none;
}

.buscador button {
  background-color: #333334;
  color: #ffffff;
  border: none;
  padding: 10px 22px;
  border-radius: 0 4px 4px 0;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.buscador button:hover {
  background-color: #444445;
}

/* Enlaces de Usuario */
.enlaces-usuario {
  display: flex;
  align-items: center;
  gap: 30px; /* Espacio entre Tienda, Carrito y Login */
}

.enlaces-usuario a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.95rem;
  position: relative;
  display: flex;
  align-items: center;
}

/* Imagen del Carrito */
.cart-img {
  width: 24px;
  height: auto;
  filter: brightness(0) invert(1);
}

/* Efecto hover en el Login */
.enlaces-usuario a:hover {
  color: #ffda00;
}
